html body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	padding: 20px; 
	height: 100px;
}

.left {
	background-color: #DCDCDC;
	text-align: center;
	color: #000000;
	width: 20%;
	border-right-style: solid;
	border-color: #A0A0A0;
	border-bottom-style: solid;
}

.right {
	background-color: #DCDCDC;
	color: #000000;
	width: 10%;
	border-left-style: solid;
	border-color: #A0A0A0;
	border-bottom-style: solid;
}


.middle {
	display: inline-block;
	background-color: #FFFFFF;
	color: #000000;
	width: 70%;
	border-color: #A0A0A0;
	border-bottom-style: solid;
	vertical-align: top;
}

.column {
    float: left;
}

@media screen and (max-width: 600px) {
  .column{
  	width: 100%;
  }
}

.mainpage {
        display: flex;
        min-height: 640px;
				height: auto;			
}
       
.mainpage:after {
        content: "";
        display: table;
        clear: both;
}

.wrap{
	word-wrap: break-word;
}

pre {
	position: relative;
	word-wrap: break-word;
	white-space: pre-line;
}

.footer {
  background-color: #F0FFFF;
  color: #A9A9A9;
  text-align: center;
  padding: 20px;
  bottom: 0;
}