.logo {
	position: absolute;
	display: block;
	top: 45px;
}

.navigate {
	overflow: hidden;
	background-color: #F1F1F1;
}

.navigate a {
	float: left;
	color: #000000;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 12px;
}

.navigate a:hover {
	background-color: #000000;
	color: #FFFFFF	
}

.author {
	float: left;
	font-style: italic;
}

#canvas {
    margin: auto;
    position: relative;
	background-color: #FFFFFF;
	border: #000000 solid;
	display: none;
}

.animate {
        position:absolute;
}

.column button{
	border-color: black;
}

.column button:active{
	color: red;
}

.news , .side {
        margin: 0 auto;
        width: 99%;
        padding: 10px;
        background-color: #F0F0F0;
        color: #000000;
        border-color: #909090;
	    border-bottom-style: solid;
}

.side  {
	float: left;
	margin: auto;
	width: 100%;
	font-size: small;
}

.side #table {
  margin: 0;
  padding: 0;
	text-align: left;
	color: green;
}


.side #table .task {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	right: -10px;
	visibility: hidden;
	padding: 0px;
	height: 0;
	width: 0;
	}

.left .side  {
	border-right: solid;
}

.task, .work, #table{
	cursor: pointer;
}

.task:hover, .work:hover{
	color: #000000;
}

.work {
	right: -10px;
	position: relative;
	margin: 5px;
	padding: 0px;
	visibility: hidden;
	height: 0;
	width: 0;
}

ul {
	list-style-position: inside;
	list-style-type: none;
}

ul li {
	margin: 5px;
}

ul[id="table"] {
	height: 10px;
}

#task1 {
	position: absolute;
	display: inline-block; 
	margin: 0 auto;
	left: 40%;
}

#reg, button[id="lgn"] {	
	background-color: rgb(135, 206, 235);
	padding: 7.5px;
	margin: 0 auto;
}

#reg {
	float: right;	
}

button[id="lgn"],  {
	float: left;
}

input[id="login"], input[id="pwd"] {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;

}

#reg a , button[id="lgn"] {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	text-align: center;
}

button[id="lgn"] {
	border: none;
	background-color: rgb(135, 206, 235);
	display: inline-block;
	cursor: pointer;
}

#reg:hover, button[id="lgn"]:hover {
	background-color: rgba(125, 196, 224, 0.445);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

