.logo {
	position: absolute;
	display: block;
	top: 45px;
}

.navigate {
	overflow: hidden;
	background-color: #F1F1F1;
}

.navigate a {
	float: left;
	color: #000000;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 12px;
}

.navigate a:hover {
	background-color: #000000;
	color: #FFFFFF	
}

.author {
	float: left;
	font-style: italic;
}

#canvas {
    margin: auto;
    position: relative;
	background-color: #FFFFFF;
	border: #000000 solid;
	display: none;
}

.animate {
    position:absolute;
}

.column button{
	position: relative;
	border-color: black;
	width: 150px;
}

.column button:active{
	color: red;
}